p {
    color: white;
    padding-left: 42px;
}

.coding-project img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#github {
    font-size: 36px;
    text-align: center;
    line-height: 90px;
}

@media screen and (max-width: 768px) {
    .container .row h3 {
        padding: 0;
    }
    h4 {
        font-size: 8px;
    }
    img {
        width: 100%;
    }
    .row, .col-sm {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}