#resume {
    margin: 0 auto;
    width: 80%;
}

#resume>div>iframe {
    width: 100%;
    height: 900px;
}

#video>iframe {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #resume {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    iframe {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .row, .col-sm {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}